ion-content {
     background: dodgerblue url(../assets/images/content_bg.jpg) left top no-repeat;
     background-size: cover;
}

page-home {

    ion-card.top-card {
        margin:0 0 10px 0;
        width:100%;
        background: rgba(1,1,1,0.4) !important;
        position:relative;
    }

   ion-thumbnail[item-left]{
        padding: 5px;
        float: left;
        background: cadetblue;
        height: 50px;
        width: 50px;
    }

    ion-thumbnail[item-left] img {
        display: block;
        width: 90%;
        padding: 5%;
    }

    ion-card ion-thumbnail[item-left] {
        width: 120px;
        height: 120px;
        margin: 0 10px 10px 0;
        background:transparent !important;
    }

    ion-card h2 {
        font-size:4rem !important;
        color:#fff !important;
    }

    ion-card p {
        font-size:2rem !important;
        color:#fff !important;
    }

    ion-card ion-icon.card-refresh {
        position:absolute;
        bottom:0px;
        right:10px;
        color:#fff;
    }

    ion-card ion-icon.card-refresh:before {
        font-size:30px;
    }

    ion-item {
        background: rgba(1,1,1,0.4) !important;
        color:#fff !important;
        border-top:none !important;
    }

    ion-item ion-thumbnail[item-left] {
        background:transparent !important;
    }

    ion-item .item-inner {
        border-bottom: none !important;
    }

    ion-item p {
        color:#fff !important;
    }
}

