ion-content {
     background: dodgerblue url(../assets/images/content_bg.jpg) left top no-repeat;
     background-size: cover;
}

page-home {

    ion-refresher div, ion-refresher-content {
        color:#fff !important;
    }

    ion-refresher .spinner-crescent circle,
    ion-refresher .spinner-ios line, .spinner-ios-small line,
    ion-refresher .spinner-circles circle {
        stroke: #fff;
    }

    ion-refresher .spinner-circles circle {
        fill: #fff;
    }

    .has-refresher > .scroll-content {
        border:none;
    }

    ion-card.top-card {
        margin:0 0 10px 0;
        width:100%;
        background: rgba(1,1,1,0.4) !important;
        position:relative;
    }

   ion-thumbnail[item-left]{
        padding: 5px;
        float: left;
        background: cadetblue;
        height: 50px;
        width: 50px;
    }

    ion-thumbnail[item-left] img {
        display: block;
        width: 90%;
        padding: 5%;
    }

    ion-card ion-thumbnail[item-left] {
        width: 120px;
        height: 120px;
        margin: 0 10px 10px 0;
        background:transparent !important;
    }

    ion-card h2 {
        font-size:4rem !important;
        color:#fff !important;
    }

    ion-card p {
        font-size:2rem !important;
        color:#fff !important;
    }

    ion-card em {
      
        color: #fff;
        font-size: 11px;
        position: absolute;
        bottom: 5px;
        right: 10px;
    }

    ion-item {
        background: rgba(1,1,1,0.4) !important;
        color:#fff !important;
        border-top:none !important;
    }

    ion-item ion-thumbnail[item-left] {
        background:transparent !important;
    }

    ion-item .item-inner {
        border-bottom: none !important;
    }

    ion-item p {
        color:#fff !important;
    }
}

