<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="sideMenu()">
        <ion-icon name='menu'></ion-icon>
      </button>
    </ion-buttons>
    <ion-title *ngIf="latestObs">{{latestObs.station}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="showFavourites()">
        <ion-icon name='star'></ion-icon>
      </button><!--
       --><button ion-button icon-only (click)="searchLocation()">
        <ion-icon name='search'></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>  
  <ion-refresher (ionRefresh)="pullRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card class="top-card" *ngIf="latestObs">
    <ion-card-content>
      <ion-thumbnail item-left>
        <img src="assets/images/{{latestObs.type}}">
      </ion-thumbnail>
      <h2>{{latestObs.temp}}</h2>
      <p><span class="type-desc">{{latestObs.typeDesc}}</span>
        <br />{{latestObs.pressure}}
        <br />{{latestObs.dewPoint}}
        </p>
      <em class="obs-time" *ngIf="lastUpdated">{{lastUpdated}}</em>
      <span class="wind">{{latestObs.windSpeed}} {{latestObs.windDirection}}</span>
    </ion-card-content>
  </ion-card>

  <ion-list  *ngIf="observations">
  <ion-item  *ngFor="let observation of observations">
    <ion-thumbnail item-left>
      <img src="assets/images/{{observation.type}}">
      
    </ion-thumbnail>
    <h2>{{observation.temp}}</h2>
    <p><span class="type-desc">{{observation.typeDesc}}</span>
        <br />{{observation.pressure}}
        <br />{{observation.dewPoint}}
        </p>
    <span class="wind">{{observation.windSpeed}} {{observation.windDirection}}</span>
    <em class="obs-time">{{observation.time}}</em>
  </ion-item>
</ion-list>
</ion-content>
